.block-mixins.block-ripple#Ripple
    .pre-title mixins
    .title Ripple
    .desc The Ripple mixins just has only one mixin <code>ripple</code>, It give your #{`<button>`} or any <code>no empty element</code> a veryyyyyyy cool ripple effect.
    .title-sub Arguments
    include arguments-ripple.pug
    .title-sub Example
    include usage-ripple.pug