include ../../mixins/paramsTable/paramsTable

+paramsTable([
    {
        name: '$margin',
        type: 'null|<length>',
        val: 'null',
        desc: 'margins around grids.'
    },
    {
        name: '$margin-top',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin top on grids.'
    },
    {
        name: '$margin-right',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin right on grids.'
    },
    {
        name: '$margin-bottom',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin bottom on grids.'
    },
    {
        name: '$margin-left',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin left on grids.'
    },
])