include ../../mixins/paramsTable/paramsTable

+paramsTable([
    {
        name: '$margin',
        type: 'null|<length>',
        val: 'null',
        desc: 'margins around columns.'
    },
    {
        name: '$margin-top',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin top on columns.'
    },
    {
        name: '$margin-right',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin right on columns.'
    },
    {
        name: '$margin-bottom',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin bottom on columns.'
    },
    {
        name: '$margin-left',
        type: 'null|<length>',
        val: 'null',
        desc: 'margin left on columns.'
    },
])