.block-mixins.block-grid#Grid
    .pre-title mixins
    .title Grid
    .desc coming soon...
    //- .title-sub grid with no gutter on any direction.
    //- .grid.gutter
    //-     for _i in grid
    //-         .col(class=`col-${_i}`)= `col-${_i}`
    //- pre
    //-     code.hljs.scss
    //-         :highlight2(language='scss')