.block-usage-example
    .desc <code>grid-col-gutter</code> mixin usage, #[code grid] & #[code grid-col] with gutter.
    .row.row-example-shower
        .col
            .example-mixins-grid-col-gutter
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
    .row.row-example-code
        .col html
            pre.code-source
                code.hljs.scss
                    :highlight2(language='html')
                        <div class="example-mixins-grid-col-gutter">
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                        </div>
    .row.row-example-code
        .col scss
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/grid';

                        .example-mixins-grid-col-gutter {
                            @include grid($flex-flow: row wrap, $gutter: 2%);
                            /*
                                above equal the simple format like this:
                                @include grid($flex-flow: row wrap);
                                @include grid-gutter($margin: 0 ((2% / 2) * -1));
                            */
                            text-align: center;
                            color: #fff;

                            .example-mixins-grid-col-8 {
                                @include grid-col($col: 8, $grid-columns: 24, $gutter: 2%);
                                /*
                                    **NOTE**: !important! above usage *not equal* below code, 
                                    because of *grid-col-gutter* used in *grid-col* is complex,
                                    can't easy split in two single mixins include.
                                    
                                    @include grid-col($col: 8, $grid-columns: 24);
                                    @include grid-col-gutter($margin: 0 (2% / 2) 2%);
                                */
                                background-color: #48cfad;
                            }
                        }
    br
    .desc <code>grid-col-gutter</code> mixin usage, #[code grid] & #[code grid-col] with gutter, #[em.note but condensed (no vertical margin, has horizontal margin)].
    .row.row-example-shower
        .col
            .example-mixins-grid-col-gutter-condensed
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-8 8
    .row.row-example-code
        .col html
            pre.code-source
                code.hljs.scss
                    :highlight2(language='html')
                        <div class="example-mixins-grid-col-gutter-condensed">
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-8">8</div>
                        </div>
    .row.row-example-code
        .col scss
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/grid';
                        @import '~global.css/src/mixins/border';

                        .example-mixins-grid-col-gutter-condensed {
                            @include grid($flex-flow: row wrap, $gutter: 2%);
                            text-align: center;
                            color: #fff;

                            .example-mixins-grid-col-8 {
                                @include grid-col($col: 8, $grid-columns: 24, $gutter: 2%, $condensed: true);
                                background-color: #48cfad;
                            }
                        }