.block-usage-example
    .desc #[code grid-gutter] mixin usage, It usually used in #[code grid] mixin.
    .row.row-example-shower
        .col
            .example-mixins-grid-gutter
                .example-mixins-grid-col-8 8
                .example-mixins-grid-col-16 16
    .row.row-example-code
        .col html
            pre.code-source
                code.hljs.scss
                    :highlight2(language='html')
                        <div class="example-mixins-grid-gutter">
                            <div class="example-mixins-grid-col-8">8</div>
                            <div class="example-mixins-grid-col-16">16</div>
                        </div>
    .row.row-example-code
        .col scss
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/grid';
                        @import '~global.css/src/mixins/border';

                        .example-mixins-grid-gutter {
                            @include grid($flex-flow: row);
                            @include grid-gutter($margin: 0 40px / 2 * -1);
                            /* 
                                above equal the simple format like this:
                                @include grid($flex-flow: row, $gutter: 40px);
                            */
                            text-align: center;
                            color: #fff;

                            .example-mixins-grid-col-8 {
                                @include grid-col($col: 8, $grid-columns: 24);
                                @include border-right($color: #f5f5f5);
                                background-color: #48cfad;
                            }
                            .example-mixins-grid-col-16 {
                                @include grid-col($col: 16, $grid-columns: 24);
                                background-color: #48cfad;
                            }
                        }