header
    .title
        .title-name Global.CSS
    .nav-list
        .nav-list-mixins
            .nav-item-title mixins
            a.nav-item(href="#Border") Border
            a.nav-item-sub(href="#UsageBorder") border
            a.nav-item-sub(href="#UsageBorderRadius") border-radius
            a.nav-item-sub(href="#UsageBorderTop") border-top
            a.nav-item-sub(href="#UsageBorderBottom") border-bottom
            a.nav-item-sub(href="#UsageBorderVertical") border-vertical
            a.nav-item-sub(href="#UsageBorderLeft") border-left
            a.nav-item-sub(href="#UsageBorderRight") border-right
            a.nav-item-sub(href="#UsageBorderHorizontal") border-horizontal

            a.nav-item(href="#Ellipsis") Ellipsis
            a.nav-item-sub(href="#UsageEllipsis") ellipsis

            a.nav-item(href="#Ripple") Ripple
            a.nav-item-sub(href="#UsageRipple") ripple

            a.nav-item(href="#Grid") Grid
