header
    .title
        .title-name Global.CSS
        .shields
            a.npm-version(href='https://www.npmjs.com/package/global.css')
                img(src='https://img.shields.io/npm/v/global.css.svg?style=social' alt='npm version')
    .nav-list
        .nav-list-mixins
            .nav-item-title mixins

            a.nav-item(href="#Border") Border
            a.nav-item-sub(href="#UsageBorder") border
            a.nav-item-sub(href="#UsageBorderRadius") border-radius
            a.nav-item-sub(href="#UsageBorderTop") border-top
            a.nav-item-sub(href="#UsageBorderBottom") border-bottom
            a.nav-item-sub(href="#UsageBorderVertical") border-vertical
            a.nav-item-sub(href="#UsageBorderLeft") border-left
            a.nav-item-sub(href="#UsageBorderRight") border-right
            a.nav-item-sub(href="#UsageBorderHorizontal") border-horizontal

            a.nav-item(href="#Ellipsis") Ellipsis
            a.nav-item-sub(href="#UsageEllipsis") ellipsis

            a.nav-item(href="#Ripple") Ripple
            a.nav-item-sub(href="#UsageRipple") ripple

            a.nav-item(href="#Grid") Grid
            a.nav-item-sub(href="#UsageGrid") grid
            a.nav-item-sub(href="#UsageGridGutter") grid-gutter
            a.nav-item-sub(href="#UsageGridCol") grid-col
            a.nav-item-sub(href="#UsageGridColGutter") grid-col-gutter
