header
    .title
        .title-name Global.CSS
    .nav-list
        .nav-list-mixins
            .nav-item-title mixins
            a.nav-item(href="#Border") Border
            a.nav-item(href="#Ellipsis") Ellipsis
            a.nav-item(href="#Ripple") Ripple
            a.nav-item(href="#Grid") Grid
