header
    .title
        .title-name Global.CSS
    .nav-list
        .nav-list-mixins
            .nav-item-title mixins
            a.nav-item(href="#Border") Border
            a.nav-item-sub(href="#Border") border
            a.nav-item-sub(href="#Border") border-radius
            a.nav-item-sub(href="#Border") border-top
            a.nav-item-sub(href="#Border") border-bottom
            a.nav-item-sub(href="#Border") border-vertical
            a.nav-item-sub(href="#Border") border-left
            a.nav-item-sub(href="#Border") border-right
            a.nav-item-sub(href="#Border") border-horizontal
            a.nav-item(href="#Ellipsis") Ellipsis
            a.nav-item(href="#Ripple") Ripple
            a.nav-item(href="#Grid") Grid
