include ../../mixins/paramsTable/paramsTable

.block-mixins.block-border#Border
    .pre-title mixins
    .title Border
    .desc The Border mixins include 
        code border
        code border-radius
        code border-top
        code border-bottom
        code border-vertical
        code border-left
        code border-right
        code border-horizontal
        . 
            , They have same arguments, get detail below.
    .title-sub Arguments
    +paramsTable([
        {
            name: '$width',
            type: '<length>',
            val: '1px',
            desc: 'Border width, default is 1px, and you cound get 1 physical pixel, it looks great on retina screen device.'
        },
        {
            name: '$style',
            type: '<string>',
            val: 'solid',
            desc: 'Of course it support all border-style\'s val, but 1px hack just support <code>solid</code> mode.'
        },
        {
            name: '$color',
            type: '<color>',
            val: '#dddddd',
            desc: 'Any valid color.'
        },
        {
            name: '$pseudo',
            type: '<string>',
            val: '\':after\'',
            desc: 'Support 2 types pseudo-element  `:after`&`:before`, use like this <code>\':after\'</code> <code>\':before\'</code>. <em class="note">NOTE: Dont miss out quotes <code>\'</code>, or be invalid.</em>'
        },
    ])
    .title-sub The demo retina resolution's thin border vs normal border.    
    .demo-out-of-the-box
        .row
            .col-6 border
            .col-18.row.gutter
                .col-12.border .border
                .col-12.border-normal
        .row
            .col-6 border-top
            .col-18.row.gutter
                .col-12.border-top .border-top
                .col-12.border-top-normal
        .row
            .col-6 border-bottom
            .col-18.row.gutter
                .col-12.border-bottom .border-bottom
                .col-12.border-bottom-normal
        .row
            .col-6 border-vertical
            .col-18.row.gutter
                .col-12.border-vertical .border-vertical
                .col-12.border-vertical-normal
        .row
            .col-6 border-left
            .col-18.row.gutter
                .col-12.border-left .border-left
                .col-12.border-left-normal
        .row
            .col-6 border-right
            .col-18.row.gutter
                .col-12.border-right .border-right
                .col-12.border-right-normal
        .row
            .col-6 border-horizontal
            .col-18.row.gutter
                .col-12.border-horizontal .border-horizontal
                .col-12.border-horizontal-normal
        .row
            .col-6 border-radius
            .col-18.row.gutter
                .col-12.border-radius .border-radius
                .col-12.border-radius-normal
