.block-usage-example#UsageBorderRight
    .desc <code>border-right</code> mixin usage.
    .row.row-example-shower
        .col.example-mixins-border-right .example-mixins-border-right
    .row.row-example-code
        .col
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/border';

                        .example-mixins-border-right{
                            @include border-right($color: #48cfad);
                        }
