.block-usage-example#UsageBorderLeft
    .desc <code>border-left</code> mixin usage.
    .row.row-example-shower
        .col.example-mixins-border-left .example-mixins-border-left
    .row.row-example-code
        .col
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/border';

                        .example-mixins-border-left{
                            @include border-left($color: #48cfad);
                        }
