.block-usage-example#UsageBorderBottom
    .desc <code>border-bottom</code> mixin usage.
    .row.row-example-shower
        .col.example-mixins-border-bottom .example-mixins-border-bottom
    .row.row-example-code
        .col
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/border';

                        .example-mixins-border-bottom{
                            @include border-bottom($color: #48cfad);
                        }
