.block-usage-example#UsageBorderHorizontal
    .desc <code>border-horizontal</code> mixin usage.
    .row.row-example-shower
        .col.example-mixins-border-horizontal .example-mixins-border-horizontal
    .row.row-example-code
        .col
            pre.code-source
                code.hljs.scss
                    :highlight2(language='scss')
                        @import '~global.css/src/mixins/border';

                        .example-mixins-border-horizontal{
                            @include border-horizontal($color: #48cfad);
                        }
