extends ./_layout/layout.pug

block var
    - var __head_title = 'global.css'
    - var __head_charset = 'utf-8'
    - var __head_viewport = 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'
    - var __body_class = 'page-doc'
block append content
    #Main.main
block append meta_link
block css_base
block css
block script_head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119194443-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-119194443-1');</script>
block script_base
block script