@import '~global.css/global';
@import '~highlight.js/styles/rainbow.css';
@import './assets/scss/export';

@import './mixins/paramsTable/paramsTable';

html {
    -webkit-font-smoothing: antialiased;
    color: #666;
    font-weight: 300;
    font-size: $__font_size_base;
    transition: font-size .4s;
}

.main {
    margin-left: 25%;
    max-width: $__width_max;
    min-width: $__width_min;
    line-height: 1.48;
    color: #666;

    .block-mixins {
        padding: 1em;
    }
    .pre-title {
        margin-bottom: -1em;
        font-size: .8em;
    }
    .title {
        line-height: 2.4;
        font-size: 2.25em;
        color: #333;
    }

    .desc {
        line-height: 1.68;
        font-size: 1em;
        color: #999;
        code {
            margin: 0 em(6px);
        }
    }

    .title-sub {
        padding: .625em 0;
        font-size: 1.5em;
        color: #666;
    }

    .note{
        color: #f00;
    }
    div > code {
        padding: em(2px) em(8px);
        border-radius: em(4px);
        background-color: #f5f5f5;
    }
    pre {
        overflow: hidden;
        border-radius: em(4px);
        white-space: pre;
    }
}

@media screen and (max-width: $__size_md) {
    .main {
        padding-top: 2.4*3em;
    }
}

@media screen and (max-width: $__size_sm) {
    html {
        font-size: $__font_size_576;
    }
    .main {
        margin: 0 auto;
        padding-top: 0;
        .block-mixins {
            padding: .8em;
        }
    }
}

