include ../../mixins/paramsTable/paramsTable

+paramsTable([
    {
        name: '$line',
        type: '<number>',
        val: '1',
        desc: 'The line\'s count you want to show, before set ellipsis.'
    },
])