.block-mixins.block-ellipsis#Ellipsis
    .pre-title mixins
    .title Ellipsis
    .desc The Ellipsis mixins just has only one mixin <code>ellipsis</code>, 
        . 
            It resolve both single-line and multi-line ellipsis.
    .title-sub Arguments
    include arguments-ellipsis.pug
    .title-sub Example
    include usage-ellipsis.pug
